<form (ngSubmit)="guardar()" #personajeForm="ngForm">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      [(ngModel)]="unPersonaje.name"
      required
    />
  </div>
  <div class="mb-3">
    <label for="gender" class="form-label">Género</label>
    <input
      type="text"
      class="form-control"
      id="gender"
      name="gender"
      [(ngModel)]="unPersonaje.gender"
      required
    />
  </div>
  <div class="mb-3">
    <label for="species" class="form-label">Especie</label>
    <input
      type="text"
      class="form-control"
      id="species"
      name="species"
      [(ngModel)]="unPersonaje.species"
      required
    />
  </div>
  <div class="mb-3">
    <label for="status" class="form-label">Estado</label>
    <input
      type="text"
      class="form-control"
      id="status"
      name="status"
      [(ngModel)]="unPersonaje.status"
      required
    />
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">URL de la imagen</label>
    <input
      type="text"
      class="form-control"
      id="image"
      name="image"
      [(ngModel)]="unPersonaje.image"
      required
    />

    <img src="{{unPersonaje.image}}" class="img-thumbnail" alt="Imagen del personaje" *ngIf="unPersonaje.image"/>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!personajeForm.form.valid">Guardar</button>
</form>